<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Gestione Termostato</title>
    <link rel="stylesheet" href="{{url_for('static', filename = '/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = '/css/styles.css')}}">
</head>

<body style="width: 353px;">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-center">Termostato&nbsp;</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col" style="width: 100px;">
                <div class="card" style="width: 100;">
                    <div class="card-header" style="background: var(--bs-teal);">
                        <h5 class="mb-0" style="text-align: center;font-size: 16px;">T.int</h5>
                    </div>
                    <div class="card-body">
                        <p id="t_interna" style="text-align: center;margin: 0px;font-size: 28px;">22.4</p>
                    </div>
                </div>
            </div>
            <div class="col" style="width: 100px;">
                <div class="card" style="width: 100;">
                    <div class="card-header" style="background: var(--bs-orange);">
                        <h5 class="mb-0" style="text-align: center;font-size: 16px;">T.est</h5>
                    </div>
                    <div class="card-body">
                        <p id="t_esterna" style="text-align: center;padding: 0px;margin: 1px;font-size: 28px;">22.4</p>
                    </div>
                </div>
            </div>
            <div class="col" style="width: 101.672px;">
                <div class="card" style="width: 100;">
                    <div class="card-header" style="background: var(--bs-yellow);">
                        <h5 class="mb-0" style="text-align: center;font-size: 16px;">Soglia</h5>
                    </div>
                    <div class="card-body">
                        <p id="soglia" style="text-align: center;margin: 0px;font-size: 28px;">22.4</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col" style="width: 100px;">
                <div class="card" style="width: 100;">
                    <div class="card-header" style="background: var(--bs-teal);">
                        <h5 class="mb-0" style="text-align: center;font-size: 16px;">H.int</h5>
                    </div>
                    <div class="card-body">
                        <p id="h_interna" style="text-align: center;margin: 0px;font-size: 28px;">22.4</p>
                    </div>
                </div>
            </div>
            <div class="col" style="width: 100px;">
                <div class="card" style="width: 100;">
                    <div class="card-header" style="background: var(--bs-orange);">
                        <h5 class="mb-0" style="text-align: center;font-size: 16px;">H.est</h5>
                    </div>
                    <div class="card-body">
                        <p id="h_esterna" style="text-align: center;padding: 0px;margin: 1px;font-size: 28px;">22.4</p>
                    </div>
                </div>
            </div>
            <div class="col" style="width: 101.672px;">
                <div class="card" style="width: 100;">
                    <div class="card-header" style="background: var(--bs-yellow);color: var(--bs-gray-100);">
                        <h5 class="mb-0" style="text-align: center;font-size: 16px;">Caldaia</h5>
                    </div>
                    <div class="card-body">
                        <p id="caldaia" style="text-align: center;margin: 0px;font-size: 28px;">22.4</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p style="text-align: center;">TEMPERATURE IMPOSTATE</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col" style="width: 100px;">
                <div class="card" style="width: 100;">
                    <div class="card-header" style="background: var(--bs-teal);">
                        <h5 class="mb-0" style="text-align: center;font-size: 16px;">ECO</h5>
                    </div>
                    <div class="card-body">
                        <p id="eco" style="text-align: center;margin: 0px;font-size: 28px;">22.4</p>
                    </div>
                </div>
            </div>
            <div class="col" style="width: 100px;">
                <div class="card" style="width: 100;">
                    <div class="card-header" style="background: var(--bs-blue);">
                        <h5 class="mb-0" style="text-align: center;font-size: 16px;">CONF</h5>
                    </div>
                    <div class="card-body">
                        <p id="confort" style="text-align: center;padding: 0px;margin: 1px;font-size: 28px;">22.4</p>
                    </div>
                </div>
            </div>
            <div class="col" style="width: 101.672px;">
                <div class="card" style="width: 100;">
                    <div class="card-header" style="background: var(--bs-danger);">
                        <h5 class="mb-0" style="text-align: center;font-size: 15px;">HOT</h5>
                    </div>
                    <div class="card-body">
                        <p id="hot" style="text-align: center;margin: 0px;font-size: 28px;">22.4</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename = '/bootstrap/js/bootstrap.min.js')}}"></script>
</body>
<script>
  
  function aggiornadati() {
    var currentTime = new Date();
    var oraattuale = currentTime.getHours();


  document.getElementById('t_interna').innerText = "{{database.t_interna}}" ;
  
  var fascia = "{{database.fascia}}" ; 
  if (fascia == "0") {
    document.getElementById('soglia').innerText = "ECO" ;
  }
  if (fascia == "1") {
    document.getElementById('soglia').innerText = "CONFORT" ;
  }
  if (fascia == "2") {
    document.getElementById('soglia').innerText = "HOT" ;
  }


  document.getElementById('h_interna').innerText = "{{database.h_interna}}" ;
  document.getElementById('t_esterna').innerText = "{{database.t_esterna}}" ;
  document.getElementById('h_esterna').innerText = "{{database.h_esterna}}" ;
  document.getElementById('caldaia').innerText = "{{database.stato_caldaia}}" ;
  document.getElementById('eco').innerText = "{{database.temperature[0]}}" ;
  document.getElementById('confort').innerText = "{{database.temperature[1]}}" ;
  document.getElementById('hot').innerText = "{{database.temperature[2]}}" ;
  }

  setInterval(aggiornadati, 5000);

</script>
</html>