{% extends 'layout.html' %}

{% block content %}
<div class="row justify-content-sm-center h-100">
  <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
  </br>
  
    <div class="card shadow-lg">
      <div class="card-body p-5">
        <h1 class="fs-4 card-title fw-bold mb-4">Tufasito Login</h1>
        <form method="POST" class="needs-validation" novalidate="" autocomplete="off">
          <div class="mb-3">
            <label class="mb-2 text-muted">Username</label>
            <input id="username" type="username" class="form-control" name="username" value="" required autofocus>
            
          </div>

          <div class="mb-3">
            <div class="mb-2 w-100">
              <label class="text-muted" for="password">Password</label>
              
            </div>
            <input id="password" type="password" class="form-control" name="password" required>
             
          </div>

          <div class="d-flex align-items-center">
          
            <button type="submit" class="btn btn-primary ms-auto">
              Entra
            </button>
          </div>
        </form>
      </div>
      <div class="card-footer py-3 border-0">
      </div>
    </div>
   
  </div>
</div>
{% endblock %}