<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Gestione Termastato</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="width: 353px;">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-center">Termostato&nbsp;</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col" style="width: 100px;">
                <div class="card" style="width: 100;">
                    <div class="card-header" style="background: var(--bs-teal);">
                        <h5 class="mb-0" style="text-align: center;font-size: 16px;">T.int</h5>
                    </div>
                    <div class="card-body">
                        <p style="text-align: center;margin: 0px;font-size: 28px;">22.4</p>
                    </div>
                </div>
            </div>
            <div class="col" style="width: 100px;">
                <div class="card" style="width: 100;">
                    <div class="card-header" style="background: var(--bs-orange);">
                        <h5 class="mb-0" style="text-align: center;font-size: 16px;">T.est</h5>
                    </div>
                    <div class="card-body">
                        <p style="text-align: center;padding: 0px;margin: 1px;font-size: 28px;">22.4</p>
                    </div>
                </div>
            </div>
            <div class="col" style="width: 101.672px;">
                <div class="card" style="width: 100;">
                    <div class="card-header" style="background: var(--bs-yellow);">
                        <h5 class="mb-0" style="text-align: center;font-size: 16px;">Soglia</h5>
                    </div>
                    <div class="card-body">
                        <p style="text-align: center;margin: 0px;font-size: 28px;">22.4</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col" style="width: 100px;">
                <div class="card" style="width: 100;">
                    <div class="card-header" style="background: var(--bs-teal);">
                        <h5 class="mb-0" style="text-align: center;font-size: 16px;">H.int</h5>
                    </div>
                    <div class="card-body">
                        <p style="text-align: center;margin: 0px;font-size: 28px;">22.4</p>
                    </div>
                </div>
            </div>
            <div class="col" style="width: 100px;">
                <div class="card" style="width: 100;">
                    <div class="card-header" style="background: var(--bs-orange);">
                        <h5 class="mb-0" style="text-align: center;font-size: 16px;">H.est</h5>
                    </div>
                    <div class="card-body">
                        <p style="text-align: center;padding: 0px;margin: 1px;font-size: 28px;">22.4</p>
                    </div>
                </div>
            </div>
            <div class="col" style="width: 101.672px;">
                <div class="card" style="width: 100;">
                    <div class="card-header" style="background: var(--bs-yellow);color: var(--bs-gray-100);">
                        <h5 class="mb-0" style="text-align: center;font-size: 16px;">Caldaia</h5>
                    </div>
                    <div class="card-body">
                        <p style="text-align: center;margin: 0px;font-size: 28px;">22.4</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p style="text-align: center;">TEMPERATURE IMPOSTATE</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col" style="width: 100px;">
                <div class="card" style="width: 100;">
                    <div class="card-header" style="background: var(--bs-teal);">
                        <h5 class="mb-0" style="text-align: center;font-size: 16px;">ECO</h5>
                    </div>
                    <div class="card-body">
                        <p style="text-align: center;margin: 0px;font-size: 28px;">22.4</p>
                    </div>
                </div>
            </div>
            <div class="col" style="width: 100px;">
                <div class="card" style="width: 100;">
                    <div class="card-header" style="background: var(--bs-blue);">
                        <h5 class="mb-0" style="text-align: center;font-size: 16px;">CONF</h5>
                    </div>
                    <div class="card-body">
                        <p style="text-align: center;padding: 0px;margin: 1px;font-size: 28px;">22.4</p>
                    </div>
                </div>
            </div>
            <div class="col" style="width: 101.672px;">
                <div class="card" style="width: 100;">
                    <div class="card-header" style="background: var(--bs-danger);">
                        <h5 class="mb-0" style="text-align: center;font-size: 15px;">HOT</h5>
                    </div>
                    <div class="card-body">
                        <p style="text-align: center;margin: 0px;font-size: 28px;">22.4</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>